.offCard{
    display: flex;
    padding: 20px;
    border: 1px solid red;
    margin: 10px;
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    height: 140px;
    align-items: center;
    border-radius: 10px;
    background-color: wheat;
}

.offCard__content{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 30px;
}
.offCard__content h1{
    color: red;}

.offCard__content2{
    width: 300px;
}

.OffCard__image{
    height: 150px;
    border-radius: 100%;
    border: 1px solid blue;
    margin-left: 20px;
    margin-top: 10px;
}